In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from  sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

In [2]:
df_ibm = pd.read_csv("IMDB Dataset.csv")
df_ibm.head()

                                              review sentiment
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive
1  I enjoyed the movie and the story immensely! I...  positive
2  I had a hard time sitting through this. Every ...  negative
3  It's hard to imagine that anyone could find th...  negative
4  This is one military drama I like a lot! Tom B...  positive

In [3]:
df_ibm["Category"] = df_ibm["sentiment"].apply(lambda x: 1 if x=="positive" else 0)

In [4]:
df_ibm.head()

                                              review sentiment  Category
0  I first saw Jake Gyllenhaal in Jarhead (2005) ...  positive         1
1  I enjoyed the movie and the story immensely! I...  positive         1
2  I had a hard time sitting through this. Every ...  negative         0
3  It's hard to imagine that anyone could find th...  negative         0
4  This is one military drama I like a lot! Tom B...  positive         1

In [5]:
df_ibm.isnull().sum()

review       0
sentiment    0
Category     0
dtype: int64

In [6]:
df_ibm["Category"].value_counts()

Category
1    9500
0    9500
Name: count, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df_ibm["review"], df_ibm["Category"],test_size=0.3, random_state=42)

In [8]:
X_train.shape

(13300,)

In [9]:
X_test.shape

(5700,)

In [10]:
# Create bag of words representation using CountVectorizer

v = CountVectorizer()

X_train_cv = v.fit_transform(X_train.values)

In [11]:
X_train_cv

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 1813596 stored elements and shape (13300, 59147)>

In [ ]:
X_train_np = X_train_cv.toarray()