In [53]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [10]:
nlp = spacy.blank("en")

doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [11]:
span = doc[0:8]

span

Dr. Strange loves pav bhaji of mumbai as

In [12]:
type(span)

spacy.tokens.span.Span

In [14]:
doc = nlp("Tony gave two $ to Peter.")

In [19]:
token_0 = doc[0]
token_0

Tony

In [18]:
token_0.like_num

False

In [20]:
token_0.is_alpha

True

In [21]:
token_0.is_currency

False

# Collecting email id's from a text file

In [22]:
with open("students.txt") as f:
    text = f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com\n',
 '\n',
 '\n',
 '\n']

In [23]:
text = " ".join(text)

In [24]:
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com\n \n \n \n'

In [27]:
data = nlp(text)
emails = []

for token in data:
    if token.like_email:
        emails.append(token.text)
emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

# Sentence tokenization

In [34]:
nlp.pipeline

[('sentencizer', <spacy.pipeline.sentencizer.Sentencizer at 0x72c4c1f512d0>)]

In [ ]:
nlp.add_pipe('sentencizer')

In [37]:
data = nlp("Dr. Strange loves pav bhaji of mumbai. Hulk loves chat of delhi")

for sentence in data.sents:
    print(sentence)

Dr. Strange loves pav bhaji of mumbai.
Hulk loves chat of delhi

In [40]:
# Extract Url form this text

text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/, 
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

doc = nlp(text)
urls = []
for token in doc:
    if token.like_url:
        urls.append(token.text)

urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

 Extract all money transaction from below sentence along with currency. Output should be,

two $

500 €

In [55]:
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"

transactions_nlp = nlp(transactions)

transactions_list = []
temp = []

for token in transactions_nlp:
    if token.like_num or token.is_currency:  
        temp.append(token.text)
    if len(temp) == 2:
        transactions_list.append(" ".join(temp))
        temp = []

for transaction in transactions_list:
    print(transaction)

two $
500 €